<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Codon Optimization</title>
</head>
<body>
    <div class="card">
        
        <form method="post" action="{{ url_for('index') }}">
        <div class="content">
            <div class="front">
                <div class="inner">
                    <h2>CODON OPTIMIZATION</h2>
                    <h3>Choose Organism:</h3>
                    <select id="organism" name="organism" required>
                        <option value="human">Default</option>
                        <option value="human">Human</option>
                        <option value="wolf">Wolf</option>
                        <option value="cow">Cow</option>
                        <option value="mushroom">Common Mushroom</option>
                        <option value="gorilla">Gorilla</option>
                        <!-- Add more options as needed -->
                    </select>
                    <div class="dna">
                        <h4>Enter DNA Sequence:</h3>
                        <input type="text" id="sequence" name="sequence" required>           
                    </div>
                    <button type="submit">Optimize</button>

                </div>
            </div>
            
        </form>
            <div class="back">
                <div class="inner">
                    <div class="target">
                        <h2>RESULT</h2>
                        <h3 for="target_cai">Target CAI:</h3>
                        <input type="range" id="target_cai" name="target_cai" min="0" max="100" value="{{ optimized_cai }}*100" disabled>
                        <output for="target_cai" id="target_cai_value">{{ default_target_cai[0] }} - {{ default_target_cai[1] }}</output>
                    </div>
                    
                    <div class="res">
                        {% if optimized_sequence %}
                            <h2>Optimized Sequence:</h2>
                            <p>{{ optimized_sequence }}</p>
                            <h2>Optimized CAI:</h2>
                            <p>{{ optimized_cai }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
